{% extends "layout.html" %}

{% block head %}
	<link href="../static/css/examples.css" rel="stylesheet" type="text/css">
	<script src="../static/js/jquery.flot.js"></script>
	<script type="text/javascript">

	$(function() {
        function getSensors () {
            function onDataReceived(jsonData) {
                var output = [];
                for(sensor in jsonData){
                    output.push('<option value="'+ sensor +'">'+ sensor +'</option>');
                }
                $('#sensorSelect').html(output.join(''));
            }

            $.ajax({
                url: "differentSensors",
                type: "GET",
                dataType: "json",
                success: onDataReceived
            });
        }

        getSensors();

		var options = {
			/*lines: {
				show: true
			},*/
			points: {
				show: true
			},
			xaxis: {
				tickDecimals: 0,
				tickSize: 1
			}
		};

		var data = [];

		$.plot("#placeholder", data, options);

		// Fetch one series, adding to what we already have

		var alreadyFetched = {};

		// Initiate a recurring data update
		$("button.dataUpdate").click(function () {
            var sensor_id = $('#sensorSelect').val();
			data = [];
			alreadyFetched = {};
			stop_calls = false;

            // This runs when clicking to load new sensor data
			$("button.dataUpdate").click(function () {
                stop_calls = true;
            });

			$.plot("#placeholder", data, options);

			function fetchData() {

				function onDataReceived(series) {

					// Load all the data in one pass; if we only got partial
					// data we could merge it with what we already have.

					data = [ series ];
					$.plot("#placeholder", data, options);
				}

				// Normally we call the same URL - a script connected to a
				// database - but in this case we only have static example
				// files, so we need to modify the URL.

				$.ajax({
					url: "jsondata/" + sensor_id,
					type: "GET",
					dataType: "json",
					success: onDataReceived
				});
				if (!stop_calls) {
                    setTimeout(fetchData, 200);
                }
			}

			fetchData();
		});

		$('.quickValueBtn').click(function() {
		    data = $('.quickValueInput').val();

		    var jsonObject = {
                "Request": "sensor_data",
                "ID": {
                    "sensor_id": $('#sensorSelect').val(),
                    "type": "distance"
                },
                "Payload": data
            };

		    $.ajax("http://localhost:8000/add", {
				data : JSON.stringify(jsonObject),
				contentType : 'application/json',
				type : 'POST',
			});

		    $('.quickValueInput').val("");
		});
	});

	</script>
{% endblock %}
{% block content %}

	<div id="header">
		<h2>Duality Alpha Test</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>
        <div class="row">
            <div class="col l3">
                <label>Sensor Data:</label>
                <select class="browser-default" id="sensorSelect">
                    <option value="" disabled selected>Choose your sensor</option>
                </select>
            </div>
            <div class="col l3">
                <button class="dataUpdate waves-effect waves-light btn-large">Poll for data</button>
            </div>
            <div class="col l6">
                <input class="quickValueInput">
                <button class="quickValueBtn waves-effect waves-light btn-large">Quick Add</button>
            </div>
        </div>

	</div>

{% endblock %}